/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
:root {
		audio, video{
			width:100%;
		}
		.custom-select
		{
			width:95%;
		}
		.width100
		{
			width:95% !important
		}
}

/*
 * Dark Theme
 * -------------------------------------------
 */
:root body.dark {

}
